<!doctype html>
<html><!-- InstanceBegin template="/Templates/MONTALLANTA.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>MONTALLANTA</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>

<body>
<table width="850" height="255" border="0" cellpadding="8">
  <tr>
    <td><img src="IMAGEN/IMAGEN 1.jpg" width="834" height="129" alt="1" longdesc="file:///D|/Documents/ACTIVIDAD 3/IMAGEN/IMAGEN 1.jpg"></td>
  </tr>
  <tr>
    <td><img src="IMAGEN/IMAGEN 2.jpg" width="836" height="183" alt="2"></td>
  </tr>
  <tr>
    <td><h3>AHORA QUERIDOS CLIENTES DISFRUTEN DE NUESTRO NUEVOS SERVICIOS COMO LO SON SERVICIO DE MONTALLANTAS Y SERVICIO DE LAVADO DE TU VEHICULO</h3></td>
  </tr>
  <tr>
    <td><p>OFERTAS DE LA SEMANA </p>
      <p>LUNES:2X1 EN LAVADO GENRERAL</p>
    <p>MARTES: POR LA COMPRA DE LLANTAS LA MONTADA ES GRATIS</p>
    <p>MIERCOLES: LAVADA CON PULIDA A MITAD DE PRECIO </p>
    <p>JUEVES: SERVICIO DE ASPIRADORA GRATIS</p>
    <p>VIERNES :POR LA LAVADA DE TU VEHICULO POLA GRATIS </p>
    <p>SABADO: PRECIO FULL</p>
    <p>DOMINGO: PRECIO FULL</p></td>
  </tr>
</table>
</body>
<!-- InstanceEnd --></html>
